# Creating of Data audit file

In [101]:
import pandas as pd
df=pd.read_csv('weatherAUS.csv')

In [102]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [104]:
Data_audit = pd.DataFrame()
print(Data_audit)

Empty DataFrame
Columns: []
Index: []

In [105]:
Data_audit['Name Of the Column'] = df.columns.tolist()

In [106]:
Data_audit

   Name Of the Column
0                Date
1            Location
2             MinTemp
3             MaxTemp
4            Rainfall
5         Evaporation
6            Sunshine
7         WindGustDir
8       WindGustSpeed
9          WindDir9am
10         WindDir3pm
11       WindSpeed9am
12       WindSpeed3pm
13        Humidity9am
14        Humidity3pm
15        Pressure9am
16        Pressure3pm
17           Cloud9am
18           Cloud3pm
19            Temp9am
20            Temp3pm
21          RainToday
22       RainTomorrow

In [107]:
Variable_type=[]
for n in df.columns.tolist():
    if n == 'RainTomorrow':
        Variable_type.append('Target')
    else:
        Variable_type.append('Feature')


print(Variable_type)
Data_audit["Variable's type"] = Variable_type

['Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Feature', 'Target']

intially I am only keeping rain tomorrow as target, letter we can see how to make temp and wind speed data as target.

In [108]:
Data_audit

   Name Of the Column Variable's type
0                Date         Feature
1            Location         Feature
2             MinTemp         Feature
3             MaxTemp         Feature
4            Rainfall         Feature
5         Evaporation         Feature
6            Sunshine         Feature
7         WindGustDir         Feature
8       WindGustSpeed         Feature
9          WindDir9am         Feature
10         WindDir3pm         Feature
11       WindSpeed9am         Feature
12       WindSpeed3pm         Feature
13        Humidity9am         Feature
14        Humidity3pm         Feature
15        Pressure9am         Feature
16        Pressure3pm         Feature
17           Cloud9am         Feature
18           Cloud3pm         Feature
19            Temp9am         Feature
20            Temp3pm         Feature
21          RainToday         Feature
22       RainTomorrow          Target

 I changed this one becouse there would have been two columns with the same name  "Variable's type"

In [109]:
Data_audit["Variable's d-type"] = df.dtypes.tolist()

In [110]:
Data_audit

   Name Of the Column Variable's type Variable's d-type
0                Date         Feature            object
1            Location         Feature            object
2             MinTemp         Feature           float64
3             MaxTemp         Feature           float64
4            Rainfall         Feature           float64
5         Evaporation         Feature           float64
6            Sunshine         Feature           float64
7         WindGustDir         Feature            object
8       WindGustSpeed         Feature           float64
9          WindDir9am         Feature            object
10         WindDir3pm         Feature            object
11       WindSpeed9am         Feature           float64
12       WindSpeed3pm         Feature           float64
13        Humidity9am         Feature           float64
14        Humidity3pm         Feature           float64
15        Pressure9am         Feature           float64
16        Pressure3pm         Feature           float64
17           Cloud9am         Feature           float64
18           Cloud3pm         Feature           float64
19            Temp9am         Feature           float64
20            Temp3pm         Feature           float64
21          RainToday         Feature            object
22       RainTomorrow          Target            object

In [112]:
Data_audit["Percentage of missing values"]=((df.isnull().sum() / len(df)) * 100).values.round(1)

In [113]:
Data_audit

,Name Of the Column,Variable's type,Variable's d-type,Percentage of missing values
0,Date,Feature,object,0.0
1,Location,Feature,object,0.0
2,MinTemp,Feature,float64,1.0
3,MaxTemp,Feature,float64,0.9
4,Rainfall,Feature,float64,2.2
5,Evaporation,Feature,float64,43.2
6,Sunshine,Feature,float64,48.0
7,WindGustDir,Feature,object,7.1
8,WindGustSpeed,Feature,float64,7.1
9,WindDir9am,Feature,object,7.3
10,WindDir3pm,Feature,object,2.9
11,WindSpeed9am,Feature,float64,1.2
12,WindSpeed3pm,Feature,float64,2.1
13,Humidity9am,Feature,float64,1.8
14,Humidity3pm,Feature,float64,3.1
15,Pressure9am,Feature,float64,10.4
16,Pressure3pm,Feature,float64,10.3
17,Cloud9am,Feature,float64,38.4
18,Cloud3pm,Feature,float64,40.8
19,Temp9am,Feature,float64,1.2
20,Temp3pm,Feature,float64,2.5
21,RainToday,Feature,object,2.2
22,RainTomorrow,Target,object,2.2

In [ ]:
Categorical_Quantitative =[]
for n in df.dtypes.tolist():
    if n == object:
        Categorical_Quantitative.append('Categorical')
    else:
        Categorical_Quantitative.append('Quantitative')


print(Categorical_Quantitative)
Categorical_Quantitative[0]="not sure"
Data_audit["Categorical/Quantitative"] = Categorical_Quantitative

As date can be categorical and qunatitative I am not sure.

In [127]:
Data_audit

,Name Of the Column,Variable's type,Variable's d-type,Percentage of missing values,Distribution
0,Date,Feature,object,0.0,about date i m not sure
1,Location,Feature,object,0.0,"[Canberra, Sydney, Darwin, Melbourne, Brisbane..."
2,MinTemp,Feature,float64,1.0,count 143975.0 mean 12.2 std ...
3,MaxTemp,Feature,float64,0.9,count 144199.0 mean 23.2 std ...
4,Rainfall,Feature,float64,2.2,count 142199.0 mean 2.4 std ...
5,Evaporation,Feature,float64,43.2,count 82670.0 mean 5.5 std ...
6,Sunshine,Feature,float64,48.0,count 75625.0 mean 7.6 std ...
7,WindGustDir,Feature,object,7.1,"[W, SE, N, SSE, E, S, WSW, SW, SSW, WNW]"
8,WindGustSpeed,Feature,float64,7.1,count 135197.0 mean 40.0 std ...
9,WindDir9am,Feature,object,7.3,"[N, SE, E, SSE, NW, S, W, SW, NNE, NNW]"
10,WindDir3pm,Feature,object,2.9,"[SE, W, S, WSW, SSE, SW, N, WNW, NW, ESE]"
11,WindSpeed9am,Feature,float64,1.2,count 143693.0 mean 14.0 std ...
12,WindSpeed3pm,Feature,float64,2.1,count 142398.0 mean 18.7 std ...
13,Humidity9am,Feature,float64,1.8,count 142806.0 mean 68.9 std ...
14,Humidity3pm,Feature,float64,3.1,count 140953.0 mean 51.5 std ...
15,Pressure9am,Feature,float64,10.4,count 130395.0 mean 1017.6 std ...
16,Pressure3pm,Feature,float64,10.3,count 130432.0 mean 1015.3 std ...
17,Cloud9am,Feature,float64,38.4,count 89572.0 mean 4.4 std ...
18,Cloud3pm,Feature,float64,40.8,count 86102.0 mean 4.5 std ...
19,Temp9am,Feature,float64,1.2,count 143693.0 mean 17.0 std ...
20,Temp3pm,Feature,float64,2.5,count 141851.0 mean 21.7 std ...
21,RainToday,Feature,object,2.2,"[No, Yes, nan]"
22,RainTomorrow,Target,object,2.2,"[No, Yes, nan]"

In [128]:
unique_values_in_objt_coloumns=[]
for n in df.columns:
    if df[n].dtype==object:
        unique_values_in_objt_coloumns.append(df[n].nunique())
print(unique_values_in_objt_coloumns)

[3436, 49, 16, 16, 16, 2, 2]

The template does say any thing about object columns with more then 10 values so i just took out all top 10 values

In [129]:
unique_values=[]
for n in df.columns:
    if df[n].dtype==object:
        if df[n].nunique()>10:
            unique_values.append(df[n].value_counts().index[:10].tolist())
        else:
            unique_values.append(df[n].unique())
    else:
        unique_values.append(df[n].describe().round(1))
unique_values[0]="about date i m not sure"   
print(unique_values)

['about date i m not sure', ['Canberra', 'Sydney', 'Darwin', 'Melbourne', 'Brisbane', 'Adelaide', 'Perth', 'Hobart', 'Albany', 'MountGambier'], count    143975.0
mean         12.2
std           6.4
min          -8.5
25%           7.6
50%          12.0
75%          16.9
max          33.9
Name: MinTemp, dtype: float64, count    144199.0
mean         23.2
std           7.1
min          -4.8
25%          17.9
50%          22.6
75%          28.2
max          48.1
Name: MaxTemp, dtype: float64, count    142199.0
mean          2.4
std           8.5
min           0.0
25%           0.0
50%           0.0
75%           0.8
max         371.0
Name: Rainfall, dtype: float64, count    82670.0
mean         5.5
std          4.2
min          0.0
25%          2.6
50%          4.8
75%          7.4
max        145.0
Name: Evaporation, dtype: float64, count    75625.0
mean         7.6
std          3.8
min          0.0
25%          4.8
50%          8.4
75%         10.6
max         14.5
Name: Sunshine, dtype: float64, ['W', 'SE', 'N', 'SSE', 'E', 'S', 'WSW', 'SW', 'SSW', 'WNW'], count    135197.0
mean         40.0
std          13.6
min           6.0
25%          31.0
50%          39.0
75%          48.0
max         135.0
Name: WindGustSpeed, dtype: float64, ['N', 'SE', 'E', 'SSE', 'NW', 'S', 'W', 'SW', 'NNE', 'NNW'], ['SE', 'W', 'S', 'WSW', 'SSE', 'SW', 'N', 'WNW', 'NW', 'ESE'], count    143693.0
mean         14.0
std           8.9
min           0.0
25%           7.0
50%          13.0
75%          19.0
max         130.0
Name: WindSpeed9am, dtype: float64, count    142398.0
mean         18.7
std           8.8
min           0.0
25%          13.0
50%          19.0
75%          24.0
max          87.0
Name: WindSpeed3pm, dtype: float64, count    142806.0
mean         68.9
std          19.0
min           0.0
25%          57.0
50%          70.0
75%          83.0
max         100.0
Name: Humidity9am, dtype: float64, count    140953.0
mean         51.5
std          20.8
min           0.0
25%          37.0
50%          52.0
75%          66.0
max         100.0
Name: Humidity3pm, dtype: float64, count    130395.0
mean       1017.6
std           7.1
min         980.5
25%        1012.9
50%        1017.6
75%        1022.4
max        1041.0
Name: Pressure9am, dtype: float64, count    130432.0
mean       1015.3
std           7.0
min         977.1
25%        1010.4
50%        1015.2
75%        1020.0
max        1039.6
Name: Pressure3pm, dtype: float64, count    89572.0
mean         4.4
std          2.9
min          0.0
25%          1.0
50%          5.0
75%          7.0
max          9.0
Name: Cloud9am, dtype: float64, count    86102.0
mean         4.5
std          2.7
min          0.0
25%          2.0
50%          5.0
75%          7.0
max          9.0
Name: Cloud3pm, dtype: float64, count    143693.0
mean         17.0
std           6.5
min          -7.2
25%          12.3
50%          16.7
75%          21.6
max          40.2
Name: Temp9am, dtype: float64, count    141851.0
mean         21.7
std           6.9
min          -5.4
25%          16.6
50%          21.1
75%          26.4
max          46.7
Name: Temp3pm, dtype: float64, array(['No', 'Yes', nan], dtype=object), array(['No', 'Yes', nan], dtype=object)]

In [81]:
df['Location'].nunique()

49

In [124]:
Data_audit["Distribution"]=unique_values

In [125]:
Data_audit

,Name Of the Column,Variable's type,Variable's d-type,Percentage of missing values,Distribution
0,Date,Feature,object,0.0,about date i m not sure
1,Location,Feature,object,0.0,"[Canberra, Sydney, Darwin, Melbourne, Brisbane..."
2,MinTemp,Feature,float64,1.0,count 143975.0 mean 12.2 std ...
3,MaxTemp,Feature,float64,0.9,count 144199.0 mean 23.2 std ...
4,Rainfall,Feature,float64,2.2,count 142199.0 mean 2.4 std ...
5,Evaporation,Feature,float64,43.2,count 82670.0 mean 5.5 std ...
6,Sunshine,Feature,float64,48.0,count 75625.0 mean 7.6 std ...
7,WindGustDir,Feature,object,7.1,"[W, SE, N, SSE, E, S, WSW, SW, SSW, WNW]"
8,WindGustSpeed,Feature,float64,7.1,count 135197.0 mean 40.0 std ...
9,WindDir9am,Feature,object,7.3,"[N, SE, E, SSE, NW, S, W, SW, NNE, NNW]"
10,WindDir3pm,Feature,object,2.9,"[SE, W, S, WSW, SSE, SW, N, WNW, NW, ESE]"
11,WindSpeed9am,Feature,float64,1.2,count 143693.0 mean 14.0 std ...
12,WindSpeed3pm,Feature,float64,2.1,count 142398.0 mean 18.7 std ...
13,Humidity9am,Feature,float64,1.8,count 142806.0 mean 68.9 std ...
14,Humidity3pm,Feature,float64,3.1,count 140953.0 mean 51.5 std ...
15,Pressure9am,Feature,float64,10.4,count 130395.0 mean 1017.6 std ...
16,Pressure3pm,Feature,float64,10.3,count 130432.0 mean 1015.3 std ...
17,Cloud9am,Feature,float64,38.4,count 89572.0 mean 4.4 std ...
18,Cloud3pm,Feature,float64,40.8,count 86102.0 mean 4.5 std ...
19,Temp9am,Feature,float64,1.2,count 143693.0 mean 17.0 std ...
20,Temp3pm,Feature,float64,2.5,count 141851.0 mean 21.7 std ...
21,RainToday,Feature,object,2.2,"[No, Yes, nan]"
22,RainTomorrow,Target,object,2.2,"[No, Yes, nan]"

for 'Description' i just took the discription given on the keggel page. and for 'Is the variable available before prediction ' I wanted to discuss.

In [144]:
Description_list=["The date of observation","The common name of the location of the weather station","The minimum temperature in degrees celsius","The maximum temperature in degrees celsius","The amount of rainfall recorded for the day in mm","The so-called Class A pan evaporation (mm) in the 24 hours to 9am","The number of hours of bright sunshine in the day","The direction of the strongest wind gust in the 24 hours to midnight","The speed (km/h) of the strongest wind gust in the 24 hours to midnight","Direction of the wind at 9am","Direction of the wind at 3pm","Wind speed (km/hr) averaged over 10 minutes prior to 9am","Wind speed (km/hr) averaged over 10 minutes prior to 3pm","Humidity (percent) at 9am","Humidity (percent) at 3pm","Atmospheric pressure (hpa) reduced to mean sea level at 9am","Atmospheric pressure (hpa) reduced to mean sea level at 3pm","Fraction of sky obscured by cloud at 9am. This is measured in 'oktas', which are a unit of eigths. It records how many eigths of the sky are obscured by cloud. A 0 measure indicates completely clear sky whilst an 8 indicates that it is completely overcast.","Fraction of sky obscured by cloud (in 'oktas': eighths) at 3pm. See Cload9am for a description of the values","Temperature (degrees C) at 9am","Temperature (degrees C) at 3pm","yes if precipitation (mm) in the 24 hours to 9am exceeds 1mm, otherwise No","The amount of next day rain in mm. Used to create response variable RainTomorrow. A kind of measure of the 'risk'."]

In [145]:
len(Description_list)

23

In [146]:
Description_list

['The date of observation',
 'The common name of the location of the weather station',
 'The minimum temperature in degrees celsius',
 'The maximum temperature in degrees celsius',
 'The amount of rainfall recorded for the day in mm',
 'The so-called Class A pan evaporation (mm) in the 24 hours to 9am',
 'The number of hours of bright sunshine in the day',
 'The direction of the strongest wind gust in the 24 hours to midnight',
 'The speed (km/h) of the strongest wind gust in the 24 hours to midnight',
 'Direction of the wind at 9am',
 'Direction of the wind at 3pm',
 'Wind speed (km/hr) averaged over 10 minutes prior to 9am',
 'Wind speed (km/hr) averaged over 10 minutes prior to 3pm',
 'Humidity (percent) at 9am',
 'Humidity (percent) at 3pm',
 'Atmospheric pressure (hpa) reduced to mean sea level at 9am',
 'Atmospheric pressure (hpa) reduced to mean sea level at 3pm',
 "Fraction of sky obscured by cloud at 9am. This is measured in 'oktas', which are a unit of eigths. It records how many eigths of the sky are obscured by cloud. A 0 measure indicates completely clear sky whilst an 8 indicates that it is completely overcast.",
 "Fraction of sky obscured by cloud (in 'oktas': eighths) at 3pm. See Cload9am for a description of the values",
 'Temperature (degrees C) at 9am',
 'Temperature (degrees C) at 3pm',
 'yes if precipitation (mm) in the 24 hours to 9am exceeds 1mm, otherwise No',
 "The amount of next day rain in mm. Used to create response variable RainTomorrow. A kind of measure of the 'risk'."]

In [147]:
Data_audit["Description"]=Description_list

In [148]:
Data_audit

,Name Of the Column,Variable's type,Variable's d-type,Percentage of missing values,Distribution,Description
0,Date,Feature,object,0.0,about date i m not sure,The date of observation
1,Location,Feature,object,0.0,"[Canberra, Sydney, Darwin, Melbourne, Brisbane...",The common name of the location of the weather...
2,MinTemp,Feature,float64,1.0,count 143975.0 mean 12.2 std ...,The minimum temperature in degrees celsius
3,MaxTemp,Feature,float64,0.9,count 144199.0 mean 23.2 std ...,The maximum temperature in degrees celsius
4,Rainfall,Feature,float64,2.2,count 142199.0 mean 2.4 std ...,The amount of rainfall recorded for the day in mm
5,Evaporation,Feature,float64,43.2,count 82670.0 mean 5.5 std ...,The so-called Class A pan evaporation (mm) in ...
6,Sunshine,Feature,float64,48.0,count 75625.0 mean 7.6 std ...,The number of hours of bright sunshine in the day
7,WindGustDir,Feature,object,7.1,"[W, SE, N, SSE, E, S, WSW, SW, SSW, WNW]",The direction of the strongest wind gust in th...
8,WindGustSpeed,Feature,float64,7.1,count 135197.0 mean 40.0 std ...,The speed (km/h) of the strongest wind gust in...
9,WindDir9am,Feature,object,7.3,"[N, SE, E, SSE, NW, S, W, SW, NNE, NNW]",Direction of the wind at 9am
10,WindDir3pm,Feature,object,2.9,"[SE, W, S, WSW, SSE, SW, N, WNW, NW, ESE]",Direction of the wind at 3pm
11,WindSpeed9am,Feature,float64,1.2,count 143693.0 mean 14.0 std ...,Wind speed (km/hr) averaged over 10 minutes pr...
12,WindSpeed3pm,Feature,float64,2.1,count 142398.0 mean 18.7 std ...,Wind speed (km/hr) averaged over 10 minutes pr...
13,Humidity9am,Feature,float64,1.8,count 142806.0 mean 68.9 std ...,Humidity (percent) at 9am
14,Humidity3pm,Feature,float64,3.1,count 140953.0 mean 51.5 std ...,Humidity (percent) at 3pm
15,Pressure9am,Feature,float64,10.4,count 130395.0 mean 1017.6 std ...,Atmospheric pressure (hpa) reduced to mean sea...
16,Pressure3pm,Feature,float64,10.3,count 130432.0 mean 1015.3 std ...,Atmospheric pressure (hpa) reduced to mean sea...
17,Cloud9am,Feature,float64,38.4,count 89572.0 mean 4.4 std ...,Fraction of sky obscured by cloud at 9am. This...
18,Cloud3pm,Feature,float64,40.8,count 86102.0 mean 4.5 std ...,Fraction of sky obscured by cloud (in 'oktas':...
19,Temp9am,Feature,float64,1.2,count 143693.0 mean 17.0 std ...,Temperature (degrees C) at 9am
20,Temp3pm,Feature,float64,2.5,count 141851.0 mean 21.7 std ...,Temperature (degrees C) at 3pm
21,RainToday,Feature,object,2.2,"[No, Yes, nan]",yes if precipitation (mm) in the 24 hours to 9...
22,RainTomorrow,Target,object,2.2,"[No, Yes, nan]",The amount of next day rain in mm. Used to cre...